@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('fonts/Proxima\ Nova\ Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: lighter;
  src: url('fonts/Proxima\ Nova\ Thin.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url('fonts/Proxima\ Nova\ Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('fonts/Proxima\ Nova\ Extrabold.otf');
}

body{
    background: linear-gradient(0.25turn, #e66465, #9198e5); 
}


.main-card{
  background-color: #ffffff;
  margin: auto;
  border-radius: 20px;
  width: 80%;
  height: 90%;
}
nav{
  border-bottom-color: #f2f3f5;
}

ul{
  list-style: none;
  font-family: 'Proxima Nova';
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: left;
  
}

li{
  padding: 20px;
}

.card-container{
  width: 1300px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: inline-block;
}

.card {
margin: 15px;
width: 210px;
height: 250px;
border-radius: 10px;
background-color: whitesmoke;
display: flex;
flex-direction: column;
justify-content: space-between;
display: inline-block;
text-align: center;
}

.title-food{
  font-family: 'Proxima Nova';
  font-weight: bold;
color: black;

}

.description-food{
  font-family: 'Proxima Nova';
  font-weight: lighter;
  color: #f8f8fa;

}

.pricetag{
  height: 20px;
  width: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 8000px;
  border-bottom-right-radius: 8000px;
  background-color: #fefefe;
  font-family: 'Proxima Nova';
  font-weight: lighter;

}

.addbutton{
width: 40px;
height: 40px;
font-family: 'Proxima Nova';
font-size: 27px;
font-weight: lighter;
border-radius: 50%;
color: white;
background-color: #ed4877;
text-align: center;}

img{
  width: 100px;
  
}
.gray-line{
  margin: 0;
  width: 0;
  height: 0;
}