@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('fonts/Proxima\ Nova\ Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: lighter;
  src: url('fonts/Proxima\ Nova\ Thin.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url('fonts/Proxima\ Nova\ Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('fonts/Proxima\ Nova\ Extrabold.otf');
}

body {
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-card {
  background-color: #ffffff;
  margin: auto;
  border-radius: 20px;
  width: 1100px;
  height: 1000px;
  display: flex;
  justify-content: column;
  align-items: flex-end;
}
.bottom-part{
  display: flex;
  align-items: flex-end;
  width:1100px;
  margin: 0;
  height: 500px;
}

.bottom-nav {
  width:1100px;
  height: 40px;
  margin: 0;
  border-bottom: 3px solid #f2f3f5;
  margin-bottom: 50px;
  }

.options-list {
  list-style: none;
  font-family: 'Proxima Nova';
  font-weight: lighter;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  }

.options-list-li {
  padding: 20px;
  
}
.border-bottom-list{
  border-bottom: 5px solid #b6bae5;
  margin: 0;
}

.number10 {
  color: #c1c1ca;
}

.card-container {
  width: 100%;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  }

.card {
  margin: 15px;
  width: 240px;
  height: 250px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: -1px 1px 8px -2px rgba(99, 99, 99, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 100;

}

.title-food {
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 22px;
  color: #4a3970;
  margin: 0;
  position: relative;
  bottom: 50px;
 }

.description-food {
  font-family: 'Proxima Nova';
  font-weight: lighter;
  color: #b2b3b4;
  margin: 0;
  position: relative;
  bottom: 20px;
  width: 240px;
  height: 40px;

}

.text-food{
  margin: 0;
}

.price {
  height: 80px;
  width: 240px;
  font-family: 'Proxima Nova';
  font-weight: lighter;
  position: absolute;
  top: 170px;
  }

.price-text{
  margin: 0;
  position: relative;
  left: -5px;
  bottom: 40px;

}

.pricetag {
  width: 50px;
  position: relative;
  margin: 0%;
  }

.addbutton {
  width: 40px;
  height: 40px;
  font-family: 'Proxima Nova';
  font-size: 27px;
  font-weight: lighter;
  border-radius: 50%;
  color: white;
  background-color: #ed4877;
  text-align: center;
  position: absolute;
  z-index: 150;
  left: 100px;
  top: 230px;
}

.img-options {
  width: 120px;
  border-radius: 50%;
  border-color: white;
  border: 20px;
  position: relative;
  bottom: 60px;
  z-index: 1000;

}

.gray-line {
  margin: 0;
  width: 1100px;
  height: 200px;
  background-color: #f2f3f5;
  position: absolute;
  top: 60px;
  left: 0px;
  z-index: 0;
}