@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('fonts/Proxima\ Nova\ Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: lighter;
  src: url('fonts/Proxima\ Nova\ Thin.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url('fonts/Proxima\ Nova\ Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('fonts/Proxima\ Nova\ Extrabold.otf');
}

body {
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Proxima Nova';
}


.main-card {
  background-color: #ffffff;
  margin: auto;
  border-radius: 20px;
  width: 1300px;
  height: 1150px;
  display: flex;
  flex-direction: column;
  
  }
.bottom-part{
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin: 0;
  height: 400px;
}

.options-container {
 width: 100%;
 height: 100%;
}

.bottom-nav {
  width:100%;
  height: 40px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.options-list {
  list-style: none;
  font-family: 'Proxima Nova';
  font-weight: lighter;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  top: 70px;
  border-bottom: 3px solid #f2f3f5;
  }

.options-list-li {
  padding: 20px;
  
}
.border-bottom-list{
  border-bottom: 5px solid #b6bae5;
  margin: 0;
}

.number10 {
  color: #c1c1ca;
}

.card-container {
  width: 100%;
  height: 400px;
  display: flex;
  margin: 0px 15px 0px 15px;
  flex-direction: row;
  position: relative;
  top: 90px;
  left: 45px;
  }

.card {
  margin: 15px;
  width: 20%;
  height: 250px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: -1px 1px 8px -2px rgba(99, 99, 99, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 100;

}

.title-food {
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 22px;
  color: #4a3970;
  margin: 0;
  position: relative;
  bottom: 50px;
 }

.description-food {
  font-family: 'Proxima Nova';
  font-weight: lighter;
  color: #b2b3b4;
  margin: 0;
  position: relative;
  bottom: 20px;
  width: 240px;
  height: 40px;

}

.text-food{
  margin: 0;
}

.price {
  height: 80px;
  width: 240px;
  font-family: 'Proxima Nova';
  font-weight: lighter;
  position: absolute;
  top: 170px;
  }

.price-text{
  margin: 0;
  position: relative;
  left: -5px;
  bottom: 40px;

}

.pricetag {
  width: 50px;
  position: relative;
  margin: 0%;
  }

.addbutton {
  width: 40px;
  height: 40px;
  font-family: 'Proxima Nova';
  font-size: 27px;
  font-weight: lighter;
  border-radius: 50%;
  color: white;
  background-color: #ed4877;
  text-align: center;
  position: absolute;
  z-index: 150;
  left: 100px;
  top: 230px;
}

.img-options {
  width: 120px;
  border-radius: 50%;
  border-color: white;
  border: 20px;
  position: relative;
  bottom: 60px;
  z-index: 1000;

}

.gray-line {
  margin: 0;
  width: 100%;
  height: 180px;
  background-color: #f2f3f5;
  position: absolute;
  top: 40px;
  right: 60px;
  z-index: 0;
}
/* .body {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
}*/

/*.main-card{
  width: 80%;
  background-color: white;
  height: 1200px; /*aumento el height para dar m치s espacio a la card principal
  border-radius: 35px;
  overflow: hidden;
  margin-top: 30px;
} */

.nav-box {
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 0px;
}

.logo-food {
  font-family: 'Proxima Nova';
  font-weight: normal;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
header{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.food-letter {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.delivery-letter {
  margin: 0px;
  letter-spacing: 3px;
}

.cont-container-header {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.container-input-lupa {
  position: relative;
  color: gray;
  width: 40%;
  margin-top: 20px;
 
}

.location-text { 
  font-size: 12px;
}

#adreess {
  font-weight: bold;
  color: black;
}

.input-search {
  border-radius: 15px;
  border: 1px solid whitesmoke;
  height: 30px; 
  width: 95%;
  position: relative;
  padding: 5px ;
  margin-top: 20px;
}

.fa-search {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 50px;
  z-index: 1;
  font-size: 20px;
}

.img-box-nav {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  width: 10%;  
  position: relative;  
}

.img-small-nav {
  position: absolute;
  width: 50%;
  box-shadow: 0px 0px 56px -26px rgba(0,0,0,0.75);
  border-radius: 50%;
  background-color: white;
}

#img-1 {
  top: 20px;
  z-index: 2;
}

#img-2 {
 top: 0px;
 z-index: 1;
}

#img-3 {
  top: 35px;
  z-index: 3;
}

.pedido-box-button {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  position: relative;
  box-shadow: 0px 19px 88px -26px rgba(0,0,0,0.75);
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px;
}

.pedido-box-detalles {
  background-color: gray;
  font-family:Arial, Helvetica, sans-serif;  
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  font-family: 'Proxima Nova';
  font-weight: 5px;
  font-size: 15px;
  height: 45px;
  margin-top: 0px;
}

.box-pedido-dishes{
  border-bottom: dashed 1px white;
  padding: 2px;
  margin: 0px 20px;
  font-size: 10px;  
  position: absolute;
  left: 10px;
}

.box-pedido-price{
  font-size: 20px;
  padding: 10px;
  position: absolute;
  left: 120px;
}

.fa-shopping-cart {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 16px;
  } 

.order-button {
  border-radius: 15px;
  margin: 10px 0px;
  width: 80%;
  height: 30px;
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  color: white;
  border-style: none;
  position: absolute;
  top: 40px;
  right: 30px;
}

/* Final de header - descripci칩n producto */

.card-description-food {
  height: 450px;  
  width: 100%;
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: whitesmoke;
}

.cont-img-pizza-backtomenubtn {
  width: 50%;
  position: relative;
}

.back-to-menu-button {
  font-family: Arial, Helvetica, sans-serif-;
  font-size: 10px;
  color: white;
  padding: 15px 40px  15px 100px;
  background-color: rgb(53, 42, 42);
  border-top-right-radius: 10px;
  border-bottom-right-radius:10px ;
  position: relative;
  z-index: 1;
  top: 50px;  
}

.img-pizza-pomodoro {
  width: 70%;  
  padding:50px;
  box-shadow: 0px 0px 56px -26px rgba(0,0,0,0.75);
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: 70px;
}


/* Informaci칩n de precio cantidad ingredientes */

.cont-info-pizza {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tomato-tittle { 
  font-family: 'Proxima Nova';
  font-size: 50px;  
  margin: 40px 0px 0px;  
}


.info-ingredientes-pizza {
  width: 60%;
  position: absolute;
  left: 10px;
  top: 130px;  
}

.fa-pepper-hot {
  font-size: 15px;
  color: red;    
  transform:rotate(-35deg);
}

#grey-pepper {
  color: gray;  
}

#hotashell {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-left: 5px;
}

.description-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 10px;
  width: 80%;

}

button {
  font-family: 'Proxima Nova';
}

.buttons-order {
  width: 100%;
  position: relative;
}

.btn-agregarproducto {
  position: absolute;
  width: 45%;
  top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
  box-shadow: 0px 0px 25px -12px rgba(122,117,122,1);
  border-radius: 15px;
  overflow: hidden;
}

.btn-fake {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#btn-1 {
  border-left: solid 2px rgb(226, 224, 224);
  border-right: solid 2px rgb(226, 224, 224);
  padding:  10px 20px; 
  font-weight: bold;
}

.btn-price {
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 10px 30px;
  border-radius: 15px;
  border-style: none;
  background-color: whitesmoke;
  box-shadow: 0px 0px 25px -12px rgba(122,117,122,1);
}

#btn-price-color {
  color: rgb(214, 4, 151);
}

.btn-add-to-cart-big {
  position: absolute;
  top: 70px;
  left: 10px;
  margin: 5px 0px;
  width: 100%;
  height: 50px;
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  color: white;
  border-style: none;
  border-radius: 15px;  
}


/* caja flotante iconos */

.container-cards-iconos-ingredientes {  
  position: absolute;
  top: 500px;
  right: 615px;
  z-index: 1;
  display: flex;
  flex-direction: column;  
  height: 160px;
  width: 400px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 19px 88px -26px rgba(0,0,0,0.75);
}

.iconos-cardx3 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10px;
}

.icono-ingrediente-card {  
  display: flex;
  flex-direction: row;
  width: 33%;
}


.text-icono {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin-top: 20px;
  color: grey;
  margin-left: 5px;
}


.fa-bacon{
  margin: 0px;
  padding: 0px;
  
}

/*rotaci칩n de icono de bacon*/
#i-bacon-1{
  position: absolute;
  z-index: 1;
 
}

#i-bacon-2{
  transform: rotate(-65deg);
}



.icono-position-box {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 5px;
  font-size: 25px;
  color: rgb(93, 116, 165);
   
}

/*texto bajo la imagen principal*/

.find-food-container{
  padding: 10px;
  position: absolute;
  top: 570px;
  right: 1280px;
}

.find-food, .gray-text-list {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 12px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  }

.find-food-list {
  padding: 5px;
}

.gray-text-list {
color: #c1c1ca;
}





